body{
		font-size:17.5px;
        background-color:#E6E7E2 /* PANTONE 11-4301 TPX Lily White */
	
}

a:link 
        {
            color:deepskyblue;
            text-decoration:none;       
        }
			
a:visited 
        {
				
            color:deepskyblue;
        }
			
a:hover 
        {
            color:black;
				
        }
			
a:active 
        {
            color:white;
        }
		
#container{
		width:970px;
		padding:10px;
		margin:auto;
		border:2px solid #517e8f;
		border-radius:8px;
}

#header{
		height:100px;
		margin:auto;
		font-family: 'Work Sans', sans-serif;

}

#h1name{
		float:left;
		width:240px;
		height:50px;
		line-height: 50px;
		text-align:center;
		margin: 25px 0 25px 20px;
}

h1{
		margin:0;
}

img.falls{
		position:relative;
		left:180px;
		
	
}

#nav{
		float:right;
		height:30px;
		width: 210px;
		line-height:30px;
		font-size:11px;
		text-align:center;
		margin: 35px 20px 35px 0;
}
/*--------------------------INDEX*/
#contentleft{
		float:left;
		width:660px;
		padding:10px;
		margin-bottom:10px;
		border:2px solid red;
}

#contentright{
		float:right;
		width:240px;
		padding:5px;
		margin-bottom:10px;
		border:2px solid yellow;
}
/*---------------------------HOBBIES*/
#contenthobbie{
	
	
}

#hobbietitle{
	
	
}

#hobbie1{
	
	
}

#hobbie2{
	
	
}


#footer{
		clear:both;
		border:2px solid blue;
		padding:20px
}
